@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../fonts/YandexSansText-Regular.eot');
  src: url('../fonts/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
      url('../fonts/YandexSansText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text Medium';
  src: url('YandexSansText-Medium.eot');
  src: url('YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
      url('YandexSansText-Medium.woff2') format('woff2'),
      url('YandexSansText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@mixin reg {
  font-family: 'Yandex Sans Text', sans-serif;
  font-weight: bold
}

@mixin bold {
  font-family: 'Yandex Sans Text Medium', sans-serif;
}