@font-face {
  font-family: 'Yandex Sans Text';
  src: url('../fonts/YandexSansText-Regular.eot');
  src: url('../fonts/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
      url('../fonts/YandexSansText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yandex Sans Text Thin';
  src: url('../fonts/YandexSansText-Thin.eot');
  src: url('../fonts/YandexSansText-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/YandexSansText-Thin.woff2') format('woff2'),
      url('../fonts/YandexSansText-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@mixin reg {
  font-family: 'Yandex Sans Text', sans-serif;
  font-weight: bold
}

@mixin thin {
  font-family: 'Yandex Sans Text Thin', sans-serif;
}