*
  box-sizing: border-box
body
  +reg
  font-size: 18px

a
  display: block
  color: $text-main
  text-decoration: none
  outline-style: none
  transition: 0.2s
  &:hover
    color: $text-grey

.container
  max-width: 1180px
  margin: auto

.section
  &__title
    font-size: 42px
  &__subtitle
    font-size: 14px
    letter-spacing: 0.84px
    text-transform: uppercase
    color: $text-grey

input[type="radio"]
  display: none

.button
  padding: 23px 0
  font-size: 14px
  font-weight: 900
  text-transform: uppercase
  letter-spacing: 0.84px
  background-color: $btn-c
  border: none
  border-radius: 6px
  outline-style: none
  cursor: pointer
  transition: 0.2s
  &:hover
    background-color: $btn-hover
  &_light
    padding: 21px 0
    letter-spacing: 0.72px
    background: none
    border: 2px solid $btn-br
    &:hover
      background: none
      color: $text-grey

@media (max-width: 1200px)
  .container
    width: 90%

@media (max-width: 991px)
  .section
    &__title
      font-size: 24px

@media (max-width: 768px)
  .button
    padding: 18px 0
    &_light
      padding: 16px

@media (min-width: 320px) and (max-width: 576px)
  .container
    min-width: 320px
    width: 100%
    padding: 0 15px

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label
    line-height: 26px

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before
    top: 4px

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after
    top: 17px