*
  box-sizing: border-box
body
  +reg
  font-size: 18px

a
  display: block
  color: $text-main
  text-decoration: none
  outline-style: none
  transition: 0.2s
  &:hover
    color: $text-grey

.container
  max-width: 1180px
  margin: auto

.button
  padding: 23px
  text-transform: uppercase
  letter-spacing: 0.84px
  background-color: $btn-c
  border: none
  border-radius: 6px
  outline-style: none
  cursor: pointer
  transition: 0.2s
  &:hover
    background-color: $btn-hover
  &_light
    letter-spacing: 0.72px
    background: none
    border: 2px solid #e3eaf0
    &:hover
      background: none
      color: $text-grey

@media (max-width: 1200px)
  .container
    width: 90%

@media (min-width: 320px) and (max-width: 576px)
  .container
    min-width: 320px
    width: 100%
    padding: 0 15px