.features
  &-block
    display: flex
    flex-wrap: wrap
    padding: 100px 0
  &__text
    width: 300px
  &__title
    margin: 0
    margin-top: 28px
  &__subtitle
    display: block
    margin-top: 12px
  &__list
    display: flex
    justify-content: space-between
    align-items: baseline
    width: 831px
  &__item
    max-width: 230px
  &-item
    &__image
      max-width: 68px
    &__title
      margin: 28px 0 16px
      font-size: 24px
      line-height: 34px
    &__text
      margin: 0
      font-size: 18px
      font-weight: 400
      line-height: 26px
      color: $text-add

@media (max-width: 1200px)
  .features
    &__text
      width: auto
      margin-bottom: 28px

@media (max-width: 991px)
  .features
    &__item
      max-width: 200px
    &-item
      &__title
        font-size: 18px
        line-height: 28px
      &__text
        font-size: 16px

@media (max-width: 768px)
  .features
    &-block
      flex-direction: column
    &__text
      width: 290px
      margin: auto
      margin-bottom: 50px
    &__list
      width: 290px
      margin: auto
      flex-direction: column
    &__item
      max-width: 260px
      width: 100%
      &:not(:last-child)
        margin-bottom: 35px
    &-item
      &__text
        max-width: 210px

// @media (max-width: 576px)
//   .features
//     &__text
//       width: 290px
//     &__list
//       width: 290px
//       margin: auto
