.modal
  position: fixed
  z-index: 100
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.5)
  &__cross
    position: absolute
    top: 12px
    right: 20px
    padding: 0
    border: none
    font-size: 32px
    background: none
    cursor: pointer
    outline-style: none
    &:hover
      color: $text-grey
      background: none
  &-request
    overflow-y: auto
    &__wrapper
      position: relative
      max-width: 1180px
      width: 100%
      margin: auto
      background: #ffffff
      box-shadow: none
    &__image
      padding: 50px 65px 0
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
      background: url("../img/request/iphone2.png"), #e3eaf0
      background-repeat: no-repeat
      background-position: 50% 100%
    &__title
      display: block
      max-width: 350px
      margin: 0
      margin-left: 13px
      margin-bottom: 55px
    &__subtitle
      max-width: 430px
      margin: 0 0 26px
      font-size: 24px
      line-height: 34px
    &-block
      max-width: 480px
      width: 100%
      margin: 62px 60px
    &__link
      flex-basis: 147px

.offer
  z-index: 200
  &__wrapper
    position: relative
    width: 1180px
    margin: auto
    border-radius: 6px
    background-color: #fff
  &__text
    margin: 100px 25px 40px 100px
    p, ul
      max-width: 980px
      font-weight: 400
      line-height: 26px
      color: $text-add
  &__title
    text-align: center
  &__button
    display: block
    max-width: 480px
    width: 100%
    padding: 18px 0
    margin: 0 auto 50px

.confirm
  &__wrapper
    max-width: 900px
    width: 100%
    margin: auto
    border-radius: 6px
    background: url("../img/test/round-cars-check.png"), #e3eaf0
    background-repeat: no-repeat
    background-position: -29px -19px
  &__text
    position: relative
    margin-left: 420px
    padding: 123px 80px 160px
    border-top-right-radius: 6px
    border-bottom-right-radius: 6px
    background: #ffffff
  &__title
    margin: 0 0 9px
  &__description
    margin: 0
    color: $text-add
    font-weight: 400
    line-height: 26px

.call-manager
  &__wrapper
    position: relative
    display: flex
    max-width: 1180px
    width: 100%
    margin: auto
    border-radius: 6px
    background: #fff
  &__photo
    position: relative
    display: flex
    align-items: flex-end
    flex-basis: 540px
    border-radius: 6px 0 0 6px
    background: #e3eaf0
  &__name
    position: absolute
    top: 144px
    left: -16px
    transform: rotate(-90deg)
    color: $text-add
    font-size: 14px
    line-height: 26px
    text-transform: uppercase
    letter-spacing: 1.2px
    &::before
      content: ''
      position: inherit
      display: block
      top: 9px
      left: -18px
      width: 6px
      height: 6px
      border-radius: 2px
      background-color: #047acb
  &-block
    flex-basis: 640px
    width: 100%
    padding: 83px 60px 78px
  &__text
    max-width: 480px
    margin-bottom: 27px
  &__title
    margin: 0
  &__input
    max-width: 480px
  &__button
    max-width: 480px
    width: 100%
    margin-bottom: 20px
    padding: 17px 0
  &__accept
    display: block
  &__description
    font-weight: 400
    line-height: 26px
  &__image
    max-width: 459px
    margin: 0 auto -4px
    img
      width: 100%

.details
  overflow-y: auto
  &__wrapper
    position: relative
    display: flex
    flex-direction: column
    max-width: 900px
    width: 100%
    margin: auto
    padding: 100px 0
    border-radius: 6px
    background: #ffffff
  &__text
    max-width: 490px
    width: 100%
    margin: 0 auto 27px
    text-align: center
  &__title
    margin: 0 0 25px
  &__subtitle
    color: $text-add
    font-weight: 400
    line-height: 26px
  &-form
    max-width: 540px
    width: 100%
    margin: auto
  &__card
    &:nth-child(1)
      .progress__line
        background: #e7e7e7
      .progress__item:nth-child(1)
        color: #000
    &:nth-child(2)
      display: none
      .progress__line
        background: rgb(4,122,203)
        background: linear-gradient(90deg, rgba(4,122,203,1) 33%, rgba(231,231,231,1) 33%)
      .progress__item:nth-child(2)
        color: #000
    &:nth-child(3)
      display: none
      .progress__line
        background: rgb(4,122,203)
        background: linear-gradient(90deg, rgba(4,122,203,1) 33.8%, rgba(231,231,231,1) 33.8%, rgba(231,231,231,1) 34%, rgba(4,122,203,1) 34%, rgba(4,122,203,1) 66%, rgba(231,231,231,1) 66%, rgba(231,231,231,1) 100%)
      .progress__item:nth-child(3)
        color: #000
  &__buttons
    display: flex
  &__button
    max-width: 160px
    width: 100%
    padding: 18px 0
    &_prev
      margin-bottom: 0
  &__confirm
    display: none
    margin: 35px 0 0
    color: $text-add
    font-size: 12px
    font-weight: 400
    line-height: 20px
  &-input
    &__label
      display: block
      margin: -10px 0 40px
      font-size: 12px
      font-weight: 400
      color: $text-add
  &-card
    &__title
      margin: 0 0 45px
      font-size: 24px
      letter-spacing: 0.3px
  &__label:nth-of-type(2)
    margin-bottom: 63px
  &__accept
    margin-top: 30px
  
.progress
  margin-bottom: 72px
  &__number
    display: block
    margin-bottom: 7px
    font-size: 14px
    span
      color: $text-grey
  &__line
    width: 100%
    height: 8px
    margin-bottom: 20px
    border-radius: 4px
  &__list
    display: flex
    justify-content: space-between
  &__item
    color: $text-grey
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 0.72px

.details-confirm
  z-index: 250
  &__wrapper
    position: relative
    max-width: 900px
    width: 100%
    margin: auto
    padding: 104px 15px 132px
    border-radius: 6px
    background: #ffffff
  &__progress
    max-width: 540px
    width: 100%
    margin: 0 auto 70px
    .progress__number
      position: relative
      margin-left: 24px
      font-size: 18px
      &::before
        position: absolute
        content: ''
        width: 16px
        height: 17px
        top: 0
        left: -24px
        background: url("../img/icons/confirm.svg")
    .progress__line
      background: rgb(4,122,203)
      background: linear-gradient(90deg, rgba(4,122,203,1) 33.8%, rgba(231,231,231,1) 33.8%, rgba(231,231,231,1) 34%, rgba(4,122,203,1) 34%, rgba(4,122,203,1) 66%, rgba(231,231,231,1) 66%, rgba(231,231,231,1) 66.2%, rgba(4,122,203,1) 66.2%, rgba(4,122,203,1) 100%)
  &__title
    max-width: 350px
    margin: 0 auto
    text-align: center

@media (max-width: 1200px)
  .modal
    &-request
      &-block
        padding: 0
      &__image
        background-size: 34vw
      &__wrapper
        margin: auto 15px
  .offer
    &__wrapper
      margin: auto 15px
    &__text
      margin: 60px 15px 40px 60px
  .call-manager
    &__wrapper
      margin: auto 15px

@media (max-width: 991px)
  .modal
    &-request
      &__image
        display: none
      &-block
        margin: auto
        padding: 80px 0
  .confirm
    &__wrapper
      max-width: 480px
    &__text
      margin: 0
      padding: 80px
      border-radius: 6px
  .call-manager
    &-block
      padding: 40px 60px
  .details
    &__wrapper
      margin: auto 15px
      padding: 80px 15px
    &__subtitle
      font-size: 16px
    &__progress
      margin-bottom: 40px
    &-card
      &__title
        font-size: 20px
  .details-confirm
    &__wrapper
      padding: 80px 15px
      margin: auto 15px

@media (max-width: 768px)
  .offer
    &__text
      margin: 40px 5px 20px 15px
      p
        font-size: 14px
    &__button
      max-width: 270px
    &__cross
      top: 5px
      right: 10px
  .modal
    &-request
      &-block
        padding: 40px 0
      &__link
        flex-basis: 50px
  .call-manager
    &__photo
      display: none
    &-block
      margin: auto
  .details
    &__wrapper
      padding: 40px 15px

@media (max-width: 576px)
  .modal
    &-request
      &__wrapper
        margin: auto 15px
      &-block
        max-width: 290px
        padding: 20px 10px
  .confirm
    &__wrapper
      max-width: 290px
    &__text
      padding: 80px 20px
  .call-manager
    &-block
      max-width: 290px
      padding: 40px 10px
    &__description
      font-size: 14px
  .details
    &__wrapper
      margin: auto 0
  .progress
    &__line
      margin-bottom: 0
    &__item
      display: none