.steps
  padding: 105px 0
  &__subtitle
    display: block
    margin-bottom: 18px
    text-align: center
  &__title
    width: 620px
    margin: auto
    margin-bottom: 60px
    text-align: center
  &__card
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__text
    width: 350px
    margin-top: 112px
    font-size: 24px
    line-height: 34px
    &:nth-child(even)
      justify-self: self-start
    &:nth-child(odd)
      margin-left: 100px
  &__number
    display: block
    margin-bottom: 42px
    +thin
    font-size: 140px
    font-weight: 400
    line-height: 104px
    color: $text-grey
  &__card
    &_1

    .steps__image
      margin-right: -137px