.steps
  display: grid
  grid-template-columns: auto minmax(320px, 1180px) auto
  padding: 105px 0 0
  &__text
    grid-column-start: 2
    text-align: center
  &__subtitle
    display: block
    margin-bottom: 18px
    letter-spacing: 0.84px
  &__title
    width: 620px
    margin: auto
    margin-bottom: 62px
  &-block
    display: grid
    grid-column: 1 / 4
    grid-row-start: 2
    grid-template-rows: 518px 421px 700px 275px
  &__card
    display: grid
    grid-template-columns: auto minmax(150px, 595px) minmax(150px, 585px) auto
    &:nth-child(even)
      .steps-card__title
        grid-column: 3 / 4
        margin-left: 6px
    &:nth-child(odd)
      .steps-card__title
        grid-column: 2 / 3
        margin-left: 102px
  &-card
    &_1
      background: url("../img/steps/iMac.png")
      background-repeat: no-repeat
      background-size: contain
      background-position: calc(50vw - 32px) 0
    &_2
      background: url("../img/steps/talk.png")
      background-repeat: no-repeat
      background-size: contain
      background-position: calc(50vw - 643px) 28px
      .steps-card
        &__title
          margin-top: 116px
    &_3
      margin-top: -11px
      background: url("../img/steps/card.png")
      background-repeat: no-repeat
      background-size: contain
      background-position: calc(50vw - 72px) -2px
      .steps-card
        &__title
          margin-top: 228px
    &_4
      margin-top: -115px
      background: url("../img/steps/tablet.png")
      background-repeat: no-repeat
      background-size: contain
      background-position: calc(50vw - 643px) 0
      .steps-card
        &__title
          margin-top: 108px
    &__title
      max-width: 355px
      margin-top: 112px
      font-size: 24px
      line-height: 34px
      letter-spacing: 0.4px
  &__number
    display: block
    margin-left: -5px
    margin-bottom: 39px
    +thin
    font-size: 140px
    font-weight: 400
    line-height: 104px
    color: $text-grey

@media (max-width: 1200px)
  .steps
    &__card:nth-child(even)
      background-position-x: calc(50vw - 535px)

@media (max-width: 991px)
  .steps
    &__title
      max-width: 400px
    &-block
      grid-template-rows: 435px 335px 500px 275px
    &-card
      &__title
        font-size: 18px
        line-height: 26px
      &_1
        background-size: contain
        .steps-card
          &__title
            margin-top: 80px
      &_2
        background-size: contain
        .steps-card
          &__title
            margin-top: 50px
      &_3
        margin-top: -55px
        background-size: contain
        .steps-card
          &__title
            margin-top: 150px
      &_4
        background-size: 420px
    &__card
      &:nth-child(even)
        background-position: calc(50vw - 420px) center 
      &:nth-child(odd)
        background-position-y: center
    &__number
      font-size: 100px

@media (max-width: 768px)
  .steps
    padding: 53px 0 0
    &__subtitle
      margin-bottom: 23px
    &__title
      max-width: 290px
      margin-bottom: 17px
    &-block
      display: block
    &__card
      display: block
      padding-top: 292px
      margin: 0
      &:nth-child(even)
        background-position: 50% 0
        .steps-card__title
          max-width: 420px
          margin: 0 auto
      &:nth-child(odd)
        background-position: 50% 0
        .steps-card__title
          max-width: 420px
          margin: 0 auto
    &-card
      &_1
        background-size: 365px
        background-position: (calc(50% + 25px) 26px)!important
      &_2
        padding-top: 275px
        background-size: 359px
        background-position-y: 40px!important
      &_3
        background-size: 371px
        background-position-y: 19px!important
      &_4
        padding-top: 275px
        background-size: 350px
        background-position-y: 42px!important
    &__number
      margin-bottom: 19px

@media (max-width: 576px)
  .steps
    &__text
      max-width: 290px
      margin: auto
      text-align: left
    &-card
      &__title
        max-width: 290px!important
