.test
  padding: 22px 0
  &__text
    text-align: center
  &__title
    max-width: 740px
    margin: auto
    margin-bottom: 59px
  &__subtitle
    display: block
    margin-bottom: 18px
  &__card
    display: grid
    grid-template-columns: minmax(0, 540px) minmax(280px, 640px)
    grid-template-rows: 505px
    box-shadow: 0 10px 67px 4px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    // &:not(:nth-child(3))
    //   display: none
  &__input
    width: 100%
    height: 50px
    margin-bottom: 20px
    padding-left: 19px
    border-radius: 6px
    border: 1px solid #e4e4e4
  &__checkbox
    display: none
  &__accept
    position: relative
    display: block
    max-width: 440px
    margin-top: 24px
    margin-bottom: 21px
    padding-left: 45px
    font-size: 14px
    font-weight: 400
    line-height: 24px
    a
      display: inline-block
      color: $link-c
      &:hover
        color: lighten($link-c, 10%)
    &::before
      content: ''
      position: absolute
      top: 3px
      left: 1px
      width: 22px
      height: 22px
      border-radius: 6px
      border: 1px solid #e4e4e4
      cursor: pointer
  &__checkbox:checked + label::before
    background: url("../img/request/icon_check.svg")
    background-repeat: no-repeat
    background-position: 50% 50%
.input__wrapper
  max-width: 440px

.card
  &__image
    position: relative
    display: flex
    background-color: #e3eaf0
    border-top-left-radius: 6px
    border-bottom-left-radius: 6px
    img
      margin: auto
      object-fit: contain
  &__number
    position: absolute
    top: -37px
    left: 53px
    font-size: 36px
    font-weight: 400
    color: $text-grey
    span
      position: relative
      top: 71px
      left: 8px
      margin-right: 20px
      +thin
      font-size: 140px
      font-weight: 400
      color: #fff
    &_small
      display: none
      margin-bottom: 8px
      font-size: 14px
      span
        color: $text-grey
  &__text
    grid-column: 2 / 3
    padding: 52px 100px 90px 60px
  &__line
    width: 100%
    height: 8px
    margin-bottom: 51px
    border-radius: 4px
    background-color: #e7e7e7
  &__title
    margin: 0 0 42px
    font-size: 24px
    line-height: 34px
    letter-spacing: 0.45px
  &__label
    display: block
    color: $text-add
    font-weight: 400
    &:not(:last-of-type)
      margin-bottom: 40px
  &__buttons
    margin-top: 65px
  &__button
    width: 160px
    height: 50px
    padding: 0
    &_prev
      margin-right: 15px
    &_submit
      width: 100%
    &_final
      width: 100%
      margin: 34px 0 28px
  &-block
    &:first-child
      .card__title
        max-width: 300px
    &:nth-child(3),
    &:nth-child(4)
      grid-template-rows: 565px
      .card__label
        display: inline-block
        width: 198px
    &:nth-child(4)
      .card__buttons
        margin-top: 25px
  &__final
    line-height: 26px
    font-weight: 400
    color: $text-grey
    br
      display: none
    span
      color: #000000
      font-weight: 600
  &__link
    display: block
    font-size: 14px
    font-weight: 400
    color: $link-c
    &:hover
        color: lighten($link-c, 10%)

.card__input:checked + label,
.card__input:not(:checked) + label
  position: relative
  padding-left: 50px
  cursor: pointer
  line-height: 20px

.card__input:checked + label:before,
.card__input:not(:checked) + label:before
  content: ''
  position: absolute
  left: 2px
  top: -7px
  width: 30px
  height: 30px
  border: 2px solid #e7e7e7
  border-radius: 100%
  background: #fff

.card__input:checked + label:after,
.card__input:not(:checked) + label:after
  content: ''
  width: 12px
  height: 12px
  background: $link-c
  position: absolute
  top: 4px
  left: 13px
  border-radius: 100%
  transition: all 0.2s ease

.card__input:not(:checked) + label:after
  opacity: 0
  transform: scale(0)

.card__input:checked + label:after 
  opacity: 1
  transform: scale(1)

@media (max-width: 1200px)
  .card
    &__image
      img
        width: 70%

@media (max-width: 991px)
  .test
    &__card
      grid-template-columns: 0 1fr
    &__title
      max-width: 540px
  .card
    &__image
      display: none
    &__text
      padding: 48px 60px 70px
    &__number
      &_small
        display: block
    &__line
      margin-bottom: 55px
    &__title
      max-width: 295px
      font-size: 18px
      line-height: 28px
    &__label
      font-size: 16px
      line-height: 26px
      &:not(:last-of-type)
        margin-bottom: 25px

@media (max-width: 768px)
  .test
    padding: 25px 0
    &__title
      margin-bottom: 32px

@media (max-width: 576px)
  .test
    &__text
      max-width: 290px
      margin: auto
      text-align: left
  .card
    &__text
      padding: 48px 25px 70px
    &__title
      max-width: 230px
      margin-bottom: 30px
    &__buttons
      margin-top: 45px
    &-block
      grid-template-rows: auto
      &:first-child
        .card__input:checked + label:before,
        .card__input:not(:checked) + label:before
          top: 5px
        .card__input:checked + label:after,
        .card__input:not(:checked) + label:after
          top: 16px
        .card__label
          &:not(:last-of-type)
            margin-bottom: 15px
      &:nth-child(3),
      &:nth-child(4)
        grid-template-rows: auto
    &__button
      &_prev
        margin-bottom: 15px
    &__final
      br
        display: block