@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Thin.eot');
    src: url('YandexSansText-Thin.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Thin.woff2') format('woff2'),
        url('YandexSansText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

